%button {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    align-self: center;
    margin: 0 1em;
    cursor: pointer;
    padding: 0 .75em;
}


/*


    %basic-layout {
        margin: auto;
        box-sizing: border-box;
        text-align: center;
    }

    %basic-text-style {
        font-family: $font;
        text-decoration: none;
        text-align: center;
        list-style: none;

    }

*/
