#controls {
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
    @include media-query($tablet) {
        bottom: 34px;
    }
    @include media-query($desktop) {
        bottom: 39px;
    }
        button {
            //code for each button on video control
            @extend %button;
            @include media-query($tablet) {
                width: 25px;
                height: 25px;
                bottom: 39px;
                justify-content: center;
            }
            @include media-query($desktop) {
                width: 30px;
                height: 30px;
            }
        }

        span {
            color: white;
        }

        .time {
            margin-right: auto;
            width: 200px;
            #videoDuration {
                @include media-query($tablet) {
                margin-right: auto;
                }
            }
        }
            #play {
                //applies to button
                background: url(../icons/play-icon.png) black no-repeat center;
                margin: 0 1em 0 0;
            }

        #fScreen {
            //applies to button
            background: url(../icons/fullscreen-icon.png) black no-repeat center;
            @include media-query($tablet) {
                margin-right: 0;
            }
        }

        .volume {
            position: relative;

        #volume {
            //will change programatically to the volume-on-icon
            background: url(../icons/volume-on-icon.png) black no-repeat center;
        }

        #volumeAdjust{
            width: 50%;
        }
    }
}
