#progressBarContainer {
    height: .25em;
    display: flex;
    justify-content: flex-start;
    width: 99%;
    align-self: center;
    // background: #f5f5f5;
    margin: auto;
    cursor: pointer;
    position: relative;
    bottom: 19px;
    #progressBar {
        width: 0%;
        background: orange;
        margin: 0;
        height: .25em;
        opacity: .9
    }
}
